*~
*.o
*.lo
*.la
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
depcomp
install-sh
INSTALL
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
*.pot
.dirstamp
stamp-*
.deps
.libs
autom4te.cache
intltool-*
po/*.gmo
po/.intltool-merge-cache
m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4
appdata/network-manager-libreswan.metainfo.xml
/cscope.*

auth-dialog/nm-libreswan-auth-dialog
nm-libreswan-service.name
src/nm-libreswan-service
src/nm-libreswan-service-helper
src/show-xfrm
src/nm-libreswan-helper-service-dbus.c
src/nm-libreswan-helper-service-dbus.h
man/nm-settings-libreswan.5
properties/resources.c
properties/resources.h
gtk4/nm-libreswan-dialog.ui
gtk4/resources.c

/NetworkManager-libreswan*.tar*

shared/test-utils
shared/test-utils.log
shared/test-utils.trs
test-driver
test-suite.log

.vscode
compile_commands.json
