# Quick syntax check:
# python -c 'import sys, yaml; yaml.dump (yaml.safe_load (sys.stdin), sys.stdout)' <.gitlab-ci.yml

# If things don't seem to work, this can help:
# https://gitlab.gnome.org/GNOME/NetworkManager-libreswan/-/ci/lint

.fedora_deps: &fedora_deps
  before_script:
    - dnf -y install
      file
      findutils
      gcc
      gettext-devel
      glib2-devel
      gtk3-devel
      gtk4-devel
      libnma-gtk4-devel
      libnl3-devel
      intltool
      libtool
      libsecret-devel
      libnma-devel
      NetworkManager-libnm-devel
      pkgconfig

# Disable fetching Git, run after the tarball is rolled
.dist: &dist
  stage: test
  dependencies:
    - fedora38_dist
  variables:
    GIT_STRATEGY: none

.fedora_from_dist: &fedora_from_dist
  <<: *fedora_deps
  <<: *dist
  script:
    - dnf -y install make
    - tar xJf NetworkManager-libreswan-*.tar.xz
    - cd NetworkManager-libreswan-*/
    - ./configure
      --disable-silent-rules
      --without-libnm-glib
      --with-gtk4
    - make -j
    - make -j check
    - make -j install
    - make -j uninstall

# Roll the distribution tarball
fedora38_dist:
  <<: *fedora_deps
  image: fedora:38
  stage: build
  script:
    - dnf -y install
      /usr/bin/autopoint
      autoconf automake make
    - sh autogen.sh
    - make -j dist
  artifacts:
    paths:
      - "*.xz"

fedora_from_dist:
  <<: *fedora_from_dist
  image: fedora:latest
